
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 style="color:azure" > Compte utilisateur : </h2> 
      <h3 style="color: white">ATTENTION aprés validation vos données seront sauvegardé et ne seront plus modifiables.</h3>
  
      <div class="list-group">
          <div
            class="list-group-item">
            <div>{{elem.id}} ID</div>
            <div>{{elem.email}} Email</div>
            <button class="btn btn-danger " routerLink="/tuto" type="submit">supprimer  <span class="glyphicon glyphicon-floppy-save"></span></button>
          </div>
      </div> 
    </div>