<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Enregistrer une nouveau vehicule</h2>
      <form [formGroup]="vehiculeForm" (ngSubmit)="onSaveVehicule()">
          <div class="form-group">
            <label for="marque">marque</label>
            <input type="text" class='form-control' id="marque" formControlName="marque">
          </div>
          <div class="form-group">
            <label for="modele">modele</label>
            <input type="text" class='form-control' id="modele" formControlName="modele">
          </div>
          <div class="form-group">
            <label for="puissance">puissance</label>
              <select class="form-control" id="puissance" formControlName="puissance" >
                  <option value="3">3 et -</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7 et +</option>
              </select>
          </div>
          <button class="btn btn-success" [disabled]='vehiculeForm.invalid' type="submit">Enregistrer</button>
      </form>
  </div>
</div>
