<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Calcul des frais de repas en deplacement :</h2>
      <form>
          <div class="form-group">
            <label for="Reaps_total_dep">Montant Total :</label>
            <input [(ngModel)]="actuelFrais.montantRepasDep.montantTotalDep"  name="montantTotalFraisdocu" type="text" class='form-control' id="Reaps_total_dep" >
          </div>
          <div class="form-group">
            <label for="nb_repas_dep">Nombre de repas :</label>
            <input [(ngModel)]="actuelFrais.montantRepasDep.nombreRepasDep"  name="montantTotalFraisdocu" type="text" class='form-control' id="nb_repas_dep" >
          </div>
            <div class="form-group">
              <h2 >Total défiscalisable :</h2>
              <div  style="background-color: blue,">???</div>
            </div>
            
            <button class="btn btn-success" routerLink="/listing" type="submit">Enregistrer</button>
          </form>
      </div>
    </div>
