    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 style="color: white" > Compte utilisateur : </h2> 
        <h3 style="color: white">ATTENTION la suppression d'un compte est irreversible !</h3>
    
        <form class="form-horizontal">
        <div  *ngFor="let email of email" class="form-group">
          <label style="color:azure" class="col-xs-4 control-label">Email :</label>
          <div class="col-xs-8">
            <h4>{{email.email}}</h4>
            <button class="btn btn-danger " (click)="deleteEmail(email)" type="submit">supprimer  <span class="glyphicon glyphicon-fire"></span></button>
          </div>  
        </div>        
      </form>
    </div>
  </div>