<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1 class="totalDefis" style="color: whitesmoke"> Total defiscalisable : <span style="color:rgb(6, 193, 250)">
      {{SuperTotal}} €</span>
    </h1>
  
  <div style="background-color: azure; color: black; margin-top: 3rem; margin-bottom: 3rem; width: 90%; padding: 1rem">

    Le Montant total de vos charge s'elevent à {{SuperTotal}} € de degrevement. Le montant se repporte à la page 5 de votre avis d'imposition. A l'Alinéa 1 : Traitements, salaires, pensions et rentes, dans la case 1AK veuillez reporter le montant de votre declaration total ci-dessus.

</div>
  <img style="width: 90%" src="../../assets/img/imageTuto.png" alt="extrait de fiche d'imposition">
</div>
  </div>

