<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Veuillez remplir les champs suivants :</h2>
      <form>
          <div class="form-group">
            <label for="Cotisations">Montant total de vos Cotisations professionnelles :</label>
            <input [(ngModel)]="actuelFrais.MontantCotisationPro"  name="MontantCotisationPro"style="width: 20%" type="text" class='form-control' id="Cotisations" >
          </div>
            <div class="form-group">
                <h2 >Total défiscalisable : </h2>
                <h2  style="color: blue">{{actuelFrais.MontantCotisationPro}}</h2>
            </div>
            <button class="btn btn-success" routerLink="/listing" type="submit">Enregistrer</button>
        </form>
      </div>
  </div>